* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-image: linear-gradient(to right, #000000b0, #000000);
}
.navbar-brand {
  height: 45px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
}
